@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h4>Online Judge reprezinta o aplicatie online, menita pentru acumularea si exersarea de cunostinte in domeniul informaticii, prin intrebari specifice in limbajul C/C++. Utilizatorii interesati de aceasta aplicatie, vor putea efectua operatii precum rezolvarea intrebarilor, dar si adaugarea, editarea sau stergerea lor. Rezultatele rezolvarilor propuse de utilizatori, vor fi verificate folosind evaluatorul propriu al aplicatiei.</h4>
