@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<address>
    <strong>Bivol Daniel:</strong>   <a href="mailto:bivol.daniel09@yahoo.com">bivol.daniel09@yahoo.com</a><br />
    <strong>Catana Vasile:</strong> <a href="mailto:vasica38@gmail.com">vasica38@gmail.com</a><br/>
    <strong>Lungeanu Ionut:</strong> <a href="mailto:ionut.lungeanu96@gmail.com">ionut.lungeanu96@gmail.com</a><br/>
    <strong>Patriche Giulio:</strong> <a href="mailto:patriche.giulio56@gmail.com">patriche.giulio56@gmail.com</a><br/>

</address>