@{
    ViewBag.Title = "Home Page";
}


<body style="background: url(http://ak5.picdn.net/shutterstock/videos/17174785/thumb/1.jpg); background-size: 100%;">
    <div class="box1">
        Online-Judge
    </div>


    <div class="boxx">
        @Html.ActionLink("Start coding!", "Login", "Account", null, new { @class = "btn-start-code" })
    </div>


</body>

@*<body style="background: url(https://wallpaperscraft.com/image/laptop_cup_glasses_plant_114948_1920x1080.jpg); background-size: 100%;">

        <div class="center-page">
            <div class="boxx">
                @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn-signup" })
            </div>

            <div class="boxx">
                @Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn-login" })
            </div>
        </div>

    </body>*@
