@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Create an account and start submitting.
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })  </p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Access your account</p>
        <p>@Html.ActionLink("Log In", "Login", "Account", null, new { @class = "btn btn-default" }) </p>
    </div>

</div>