@{
    ViewBag.Title = "Login Failure!";
}

<body>
    <div class="pass-confirm-title">

        <p1>
            @ViewBag.Title
        </p1>

    </div>


    <div class="pass-confirm-message">

        <p>
            Unsuccessful login with service...
        </p>

    </div>
</body>

