@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<body>
    <div class="pass-confirm-title">

        <p1>
            @ViewBag.Title
        </p1>

    </div>


    <div class="pass-confirm-message">

        <p>
            Please check your email to reset your password.
        </p>

    </div>
</body>
