@{
    ViewBag.Title = "Reset password confirmation";
}

<body>

    <div class="pass-confirm-title">

        <p1>
            @ViewBag.Title
        </p1>

    </div>


    <div class="pass-confirm-message">

        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>

    </div>


</body>
